canvas {
  background: url(../img/cface.png);
  background-size: 83%;
  background-repeat: no-repeat;
}

footer {
  text-align: left;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

header {
  text-align: left;
  padding: 30px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
  color: #fff;
}

header h1 {
  color: #fff;
}