<!doctype html>
<html ng-app="clockApp">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/clocks.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/clocks.js"></script>
  </head>

  <body>
    <header class="header">
      <h1 class="container">Calculate degrees between clock values!</h1>
    </header>

    <div ng-controller="MainCtrl">
      <div class="container">
        <div class="row" ng-init="clocks = [{name:'clockOne', digit:0, degrees:0}, {name:'clockTwo', digit:1, degrees:0}]">
          <div ng-repeat="clock in clocks" ng-model="clock.spaz" class="span4 {{clock.name}}">
            <label>Enter a time below for Clock {{clock.digit + 1}}</label>
            <form name="clockForm" ng-model="clockForm" ng-submit="setClock(clock.digit)">
              <div class="row">
                <div class="span1">
                  <input class="span1" type="number" placeholder='01' ng-change="setClock(clock.digit)" name="clockHour" ng-model="clockHour" min="1" max="12" required>
                </div>
                <div class="span1">
                  <input class="span1" type="number" placeholder='01' ng-change="setClock(clock.digit)" name="clockMinute" ng-model="clockMinute" value='1' min="00" max="59" required>
                </div>  
                <div class="span1 btn-group" data-toggle="buttons-radio" ng-model="ampm">
                  <button type="button" id="am-btn-{{clock.name}}" class="btn btn-primary {{amBtnClass}}" data-toggle="button" ng-model="ampm" ng-click="setAmpm('AM');setClock(clock.digit)"> AM <br/>
                  <button type="button" id="pm-btn-{{clock.name}}" class="btn btn-primary {{pmBtnClass}}" data-toggle="button" ng-model="ampm" ng-click="setAmpm('PM');setClock(clock.digit)"> PM <br/>
                </div>
              </div>
            </form>
            <hr>
            <!-- The following two lines show a digital clock, and the degrees of each clock.
                 Remove comment lines below to see them in the display. -->
            <!--
              <h1>{{formatted(clockHour)}}:{{formatted(clockMinute)}} {{ampm}}</h1>
              <h2 ng-model="degrees">{{clock.degrees}} degrees</h2>
            -->
            <canvas id="canvas-{{clock.name}}" data-clock width="300" height="300"></canvas>
          </div>
        </div>
        <div class="row">
          <h3>{{degrees()}}<span ng-bind-html-unsafe="degreeSymbol"></span></h3>
        </div>
      </div>
    </div>
    <footer class="footer row">
      <div class="container">
        <p>A little programming practice. Find the source on <a href="https://github.com/teglia/goodnightclocks">on github</a> if that's your thing.</p>
      </div>
    </footer>
  </body>
</html>